.table {
    width: 100%;
    height: auto;
    padding: 5px 10px
}

.table__thead {
    background-color: black;
    color: white;
}

.pagination-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0;
}

.btn {
    background-color: black;
    color: white;
    margin-right: 1rem;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
}